.container {
  padding: 0 6em;
}

.users {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-bottom: 50px;
}

.container > input {
  width: 20%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #b8b8b8;
  margin: 50px 0;
}

.container > input::placeholder {
  color: rgba(128, 128, 128, 0.637);
  font-size: 12px;
}
